{% extends  'register/base.html' %}
{% load static %}
{% block title %} <title>E'lonlar</title> {% endblock %}

{% block content %}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">E'lonlar</h4>
            </div>
            <div class="card-body">
                <table id="datatable" class="table table-bordered  dt-responsive nowrap w-100">
                    <thead class="table-dark">
                    <tr class="text-center">
                        <th style="width: 5%;">id</th>
                        <th style="width: 50%;">Do'kon nomi</th>
                        <th style="width: 35%;">Kelgan vaqti</th>
                        <th style="width: 10%;">Harakatlar</th>
                    </tr>
                    </thead>
                    {% for item in objects_list %}
                        {% if item.status_id == 2 %}
                        <tr style="background-color: rgb(237, 165, 165);">
                            <td class="text-center" style="font-weight: bold;">{{forloop.counter}}</td>
                            <td class="text-center" style="font-weight: bold;">{{item.shop_id}}</td>
                            <td class="text-center" style="font-weight: bold;">{{item.date}}</td>
                            <td class="text-center" style="font-weight: bold;">
                                <a href="{% url 'deteile_notifi' item.id %}" class="btn btn-soft-success waves-effect waves-light"><i class="bi bi-eye font-size-16 align-middle color-dark"></i></a>
                                <a href="{% url 'delete_notification' item.id %}" class="btn btn-soft-danger waves-effect waves-light"><i class="bx bx-trash font-size-16 align-middle"></i></a>
                            </td>
                        </tr>
                        {% elif item.status_id == 3 %}
                        <tr style="background-color: rgb(191, 242, 210);">
                            <td class="text-center" style="font-weight: bold;">{{forloop.counter}}</td>
                            <td class="text-center" style="font-weight: bold;">{{item.shop_id}}</td>
                            <td class="text-center" style="font-weight: bold;">{{item.date}}</td>
                            <td class="text-center" style="font-weight: bold;">
                                <a href="{% url 'deteile_notifi' item.id %}" class="btn btn-soft-success waves-effect waves-light"><i class="bi bi-eye font-size-16 align-middle color-dark"></i></a>
                                <a href="{% url 'delete_notification' item.id %}" class="btn btn-soft-danger waves-effect waves-light"><i class="bx bx-trash font-size-16 align-middle"></i></a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="text-center" style="font-weight: bold;">{{forloop.counter}}</td>
                            <td class="text-center" style="font-weight: bold;">{{item.shop_id}}</td>
                            <td class="text-center" style="font-weight: bold;">{{item.date}}</td>
                            <td class="text-center" style="font-weight: bold;">
                                <a href="{% url 'deteile_notifi' item.id %}" class="btn btn-soft-success waves-effect waves-light"><i class="bi bi-eye font-size-16 align-middle color-dark"></i></a>
                                <a href="{% url 'delete_notification' item.id %}" class="btn btn-soft-danger waves-effect waves-light"><i class="bx bx-trash font-size-16 align-middle"></i></a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <!-- end cardaa -->
    </div> <!-- end col -->
</div>


{% endblock %}