{% extends  'register/base.html' %}
{% load static %}
{% block title %} <title>Billing</title> {% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Billing</h4>
            </div>
            <div class="card-body">
                <table id="datatable-buttons" class="table table-bordered  dt-responsive nowrap w-100">
                    <thead class="table-dark">
                    <tr class="text-center">
                        <th style="width: 5%;">id</th>
                        <th style="width: 50%;">Do'kon nomi</th>
                        <th style="width: 20%;">Summasi</th>
                        <th style="width: 20%;">Harakatlar</th>
                    </tr>
                    </thead>
                    {% for item in obejcts_list %}
                    <tr>
                        <td class="text-center">{{forloop.counter}}</td>
                        <td class="text-center"><a href="{% url 'billing_info_shops' item.id %}">{{item.name_shops}}</a></td>
                        <td class="text-center">
                            {% if item.payment_summ %}
                                    {{item.payment_summ}}
                            {% else %}
                                <p class="text-danger">To'lov summasi qo'yilmagan</p>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{% url 'create_billing_summ' item.id %}"  class="btn btn-primary waves-effect btn-label waves-light">
                                <i class="bx bx-credit-card label-icon"></i> 
                                Tolov summasi
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <!-- end cardaa -->
    </div> <!-- end col -->
</div>


{% endblock %}