{% extends  'register/base.html' %}
{% load static %}
{% block title %} <title>Kategoriya</title> {% endblock %}

{% block content %}
<a href="{% url 'create_categor_views' %}" class="btn btn-primary">Kategoriya qo'shish</a>
<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Kategoriya</h4>
            </div>
            <div class="card-body">
                <table id="datatable" class="table table-bordered  dt-responsive nowrap w-100">
                    <thead class="table-dark">
                    <tr class="text-center">
                        <th style="width: 5%;">id</th>
                        <th style="width: 50%;">Kategoriya Icon</th>
                        <th style="width: 35%;">Kategoriya nomi</th>
                        <th style="width: 10%;">Harakatlar</th>
                    </tr>
                    </thead>
                    {% for item in objects_list %}
                    <tr>
                        <td class="text-center">{{forloop.counter}}</td>
                        <td class="text-center">
                            {% if item.logo %}
                                <img src="{{item.logo.url}}" width="50" alt="{{item.title}}">
                            {% else %}
                                <p class="text-danger">Logo qo'yilmagan</p>
                            {% endif %}
                        </td>
                        <td class="text-center">{{item.title}}</td>
                        <td class="text-center">
                            <a href="{% url 'update_catgeor' item.id %}" class="btn btn-soft-success waves-effect waves-light"><i class="bx bx-edit font-size-16 align-middle"></i></a>
                            <a href="{% url 'delete_categor' item.id %}" class="btn btn-soft-danger waves-effect waves-light"><i class="bx bx-trash font-size-16 align-middle"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <!-- end cardaa -->
    </div> <!-- end col -->
</div>


{% endblock %}