{% extends  'register/base.html' %}
{% load static %}
{% block title %} <title>{{object.name_shops}}</title> {% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{object.name_shops}} to'lovlar tranzaksiyasi</h4>
            </div>
            <div class="card-body">
                <table id="datatable-buttons" class="table table-bordered  dt-responsive nowrap w-100">
                    <thead class="table-dark">
                    <tr class="text-center">
                        <th style="width: 5%;">id</th>
                        <th style="width: 50%;">To'lov sanasi</th>
                        <th style="width: 45%;">Summasi</th>

                    </tr>
                    </thead>
                    <tr>
                        <td class="text-center">{{object.forloop.counter}}</td>
                        <td class="text-center">{{object.create_date|date:'Y-m-d'}}</td>
                        <td class="text-center">{{object.payment_summ}}</td>
                    </tr>
             
                </table>
            </div>
        </div>
        <!-- end cardaa -->
    </div> <!-- end col -->
</div>


{% endblock %}